code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
  color: #08c;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* landing page */

.page_landing {
  text-align: center;
  padding-top: 20vh;
}

.logo-card {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-card .portfolio-logo-large {
  width: 320px;
}
